* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.left {
    background-color: #1e7568;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.right {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
}
